#breadcrumbList{
  margin: 0 auto;
  max-width: 430px;
  width: 90%;
  overflow-x: auto;
  word-break: keep-all;
  white-space: nowrap;

  @include responsive(md) {
    max-width: 680px;
  }

  ol{
    display: flex;
    gap: rem(8);

    li{
      a,
      span{
        font-size: rem(12);
        color: cl(cl-text);
      }

      &:not(:last-of-type){
        &::after{
          content: "›";
          margin: rem(8) 0;
          color: cl(cl-gray-text);
        }
      }

      a{
        width: inherit;
        height: inherit;
      }
    }
  }
  
}
