#breadcrumbList{
  margin: 0 auto;
  max-width: 430px;
  width: 90%;

  @include responsive(md) {
    max-width: 652.8px;
    width: 100%;    
  }

  @include responsive(lg) {
    max-width: 843.2px;
  }

  @include responsive(xl) {
    max-width: 1020px;
  }

  @include responsive(xxl) {
    max-width: 1190px;
  }

  ol{
    display: flex;
    gap: rem(8);

    li{
      a,
      span{
        font-size: rem(12);
        color: cl(cl-text);
      }

      &:not(:last-of-type){
        &::after{
          content: "›";
          margin: rem(8) 0;
          color: cl(cl-gray-text);
        }
      }

      a{
        width: inherit;
        height: inherit;
      }
    }
  }
  
}
