footer{
    margin-top: rem(48);
    .scrollTop{
        border-top: 2px solid cl(cl-gray-border);
        padding: rem(32) 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        button{
            cursor: pointer;
            font-size: rem(16);
            text-align: center;
        }

    }

    .wrapper{
        .inner{
            @include inner();
        }    
    }

    .myContents{
        padding: rem(32) 0;
        background-color: cl(cl-gray-bg);
        .title{
            margin: rem(16) 0 rem(8);
            p{
                text-align: center;
                font-weight: 700;
            }
        }

        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(32);

            @include responsive(lg){
                display: flex;
                align-items: center;
                justify-content: center;
            }

            li{
                @include responsive(md){
                    min-width: 252px;
                }
                a{
                    .image{
                        margin-bottom: rem(8);
                        img{
                            width: 100%;
                            height: auto;
                            max-width: 220px;
                        }
                    }

                    .text{
                        p{
                            font-size: rem(10);
                        }
                    }
                }
            }
        }
    }

    // .wrapper{
    //     background-color: cl(cl-primary-dark);

    //     p{
    //         color: cl(cl-base);
    //     }

    //     ul{
    //         li{
    //             a{
    //                 color: cl(cl-base);
    //             }
    //         }
    //     }
    // }

    // .contents{
    //     @include responsive(md){
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         gap: rem(64);
    //     }
    // }

    // .blogContents{
    //     padding: rem(16) 0;

    //     .inner{
    //         @include responsive(md){
    //             display: flex;
    //             align-items: center;
    //             gap: rem(32);
    //         }            
    //     }

    //     .title{
    //         p{
    //             font-weight: 700;    
    //         }
    //     }

    //     .link{
    //         ul{
    //             display: flex;
    //             justify-content: flex-start;
    //             align-items: center;
    //             gap: rem(16);
    //             margin-top: rem(16);

    //             @include responsive(md){
    //                 flex-direction: column;
    //             }        

    //             li{
    //                 a{
    //                     display: inline-block;
    //                 }
    //             }
    //         }
    //     }
    // }

    // .myContents{
    //     padding: rem(16) 0;

    //     .inner{
    //         @include responsive(md){
    //             display: flex;
    //             align-items: center;
    //             gap: rem(32);
    //         }            
    //     }

    //     .title{
    //         p{
    //             font-weight: 700;
    //         }
    //     }

    //     .link{
    //         ul{
    //             display: flex;
    //             justify-content: flex-start;
    //             gap: rem(16);
    //             margin-top: rem(16);

    //             @include responsive(md){
    //                 flex-direction: column;
    //             }        

    //             li{
    //                 a{
    //                     display: inline-block;
    //                     text-decoration: underline;
    //                 }
    //             }
    //         }
    //     }
    // }



    .copyRight{
        background-color: cl(cl-primary-dark);
        padding: rem(16);

        p{
            text-align: end;
            font-size: rem(12);
            color: cl(cl-base);
        }

    }
}