.pagiNation{
    margin-top: rem(64);
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(8);

        @include responsive(md){
            gap: rem(32);
        }
    }

    .prevButton,
    .nextButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: cl(cl-primary-dark);
        border: 1px solid cl(cl-primary-dark);
        border-radius: 50px;
        transition: 0.3s;

        @include responsive(md){
            width: 40px;
            height: 40px;
        }

        a,
        p{
            display: flex;
            justify-content: center;
            align-items: center;

            &::before{
                content: "";
                background: cl(cl-base);
                display: inline-block;
                width: 15px;
                height: 15px;
            }
        }

        &:has(.disabled){
            background-color: cl(cl-gray-disabled);
            border: 1px solid cl(cl-gray-disabled);
        }

        &:not(:has(.disabled)){
            @include hover{
                background-color: cl(cl-base);

                a{
                    opacity: 1;

                    &::before{
                        background: cl(cl-primary-dark);
                    }
                }
            }
        }
    }

    .prevButton{
        a,
        p{
            &::before{
                mask: url("/public/images/icon/icon-arrow-normal.svg") no-repeat center center / contain;
                -webkit-mask: url("/public/images/icon/icon-arrow-normal.svg") no-repeat center center / contain;
                transform: rotate(90deg);
            }
        }
    }

    .nextButton{
        a,
        p{
            &::before{
                mask: url("/public/images/icon/icon-arrow-normal.svg") no-repeat center center / contain;
                -webkit-mask: url("/public/images/icon/icon-arrow-normal.svg") no-repeat center center / contain;
                transform: rotate(270deg);
            }
        }
    }


    .numberList{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(8);

        @include responsive(md){
            gap: rem(32);
        }
        

        li {
            display: inline-block;
            width: 32px;
            height: 32px;

            @include responsive(md){
                width: 40px;
                height: 40px;
            }

            a,
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: #e2f0e9;
                color: cl(cl-primary-dark);
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                border-radius: 5px;
            }

            .currentPageNumber{
                background: cl(cl-primary-dark);
                color: #e2f0e9;
            }

            &:has(.ellipses){
                width: 20px;
                height: 20px;
                
                p{
                    background-color: inherit;
                }
            }
        }

    }
}