article{
    padding-bottom: rem(72);
    
    #mainView{
        width: 100%;
        margin: 0 auto rem(24);
        @include responsive(md){
            max-width: 680px;
        }
        
        img{
            aspect-ratio: 3/2;
            max-height: 500px;
            border-radius: 0;
            margin: 0;
        }

        .title{
            width: 90%;
            margin: rem(16) auto;
            @include responsive(md){
                width: 100%;
                max-width: 680px;
            }
        }

        .info{
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include responsive(md){
                width: 100%;
                max-width: 680px;
            }

            .category{

                a{
                    display: inline-block;
                    width: inherit;
                    font-size: rem(14);
                    cursor: pointer;
                    color: cl(cl-base);
                    background-color: cl(cl-primary-dark);
                    min-width: 60px;
                    padding: rem(4);
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                }
            }

            .date{
                time{
                    color: cl(cl-text);
                    display: flex;
                    justify-content: flex-end;
                    font-size: rem(14);
                }    
            }
    

        }

    }

    #mainContent{
        width: 90%;
        margin: 0 auto;
        
        @include responsive(md){
            max-width: 680px;
        }

        h2,
        h3,
        h4{
            margin: rem(32) 0;
        }

        h2{

            position: relative;
            padding: rem(4);
            outline: 2px solid cl(cl-title);
            outline-offset: 2px;
            background: cl(cl-primary);
            color: cl(cl-title);
            font-weight: bold;
            &::before{
                position: absolute;
                top: calc(100% + 2px);
                left: 20px;
                height: 20px;
                width: 15px;
                background-color: white;
                border-right: 2px solid cl(cl-title);
                content: "";
            }
        }

        h3{
            padding-left: rem(16);
            border-left: 5px solid transparent;
            background: 
                linear-gradient(to bottom, cl(cl-primary-dark) 50%, cl(cl-primary) 50%) left / 5px 100% no-repeat;
            &::first-letter {
                color: cl(cl-primary-dark);
            }
        }

        p{
            font-size: rem(14);
            margin: rem(16) 0;
            line-height: 2;
            @include responsive(lg){
                font-size: rem(16);
            }    
        }

        .image-wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            @include responsive(md){
                gap: rem(16);
                grid-template-columns: repeat(2,1fr);
            }
        }

        img{
            aspect-ratio: 16/9;
            border-radius: 5px;
            margin: rem(8) 0;
        }

        figure{
            margin: rem(8) 0;

            img{
                aspect-ratio: 16/9;    
            }

            figcaption{
                margin-top: rem(4);
                color: cl(cl-gray-text);
                font-size: rem(12);
            }
        }

        ul{
            margin: rem(16) 0;
            display: flex;
            flex-direction: column;
            gap: rem(8);

            li{
                color: cl(cl-text);
                display: flex;
                font-size: rem(14);

                &::before{
                    content: 'ãƒ»';
                }
            }
        }
    }
}
