.title{
    h1{
        margin: rem(16) 0;
    }
}

.articleList{
    ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: rem(32);

        @include responsive(md){
            grid-template-columns: repeat(2,1fr);
        }

        @include responsive(lg){
            grid-template-columns: repeat(3,1fr);
        }

        li{
            border-bottom: 1px dashed cl(cl-primary);
            padding-bottom: rem(16);

            a{
                display: flex;
                flex-direction: column;
                gap: rem(8);

                @include hover{
                    .image{
                        img{
                            transform: scale(1.1);
                            transition: 0.3s all;
                        }
                    }
                }
            }

            .image{
                overflow: hidden;
                img{
                    aspect-ratio: 16/9;
                    transition: 0.3s all;
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                gap: rem(8);

                h2{
                    font-size: rem(18);
                }
                p{
                    font-size: rem(12);
                    color: cl(cl-gray-text);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;  
                    min-height: 40px;  
                }
                time{
                    font-size: rem(12);
                    display: flex;
                    justify-content: flex-end;
    
                    @include responsive(md){
                        font-size: rem(14);
                    }
            
                }    
            }
            
        }

    }
}