.newArticle{
    padding: rem(32) 0;
    background-color: cl(cl-primary-light);
    
    h2{
        margin-bottom: rem(16);
        font-weight: 700;
    }

    .link{
        margin-top: rem(32);
        display: flex;
        justify-content: center;

        a{
            border-radius: 50px;
            padding: rem(8);
            color: cl(cl-base);
            background-color: cl(cl-primary-dark);
            max-width: 150px;
            text-align: center;
            font-size: rem(14);
            // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5647058824);
        }
    }
}

.searchArticle{
    padding: rem(32) 0;
}

.categoryList{
    padding: rem(32) 0;

    h2{
        margin-bottom: rem(16);
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);

        li{
            a{
                text-decoration: underline;
                font-weight: 700;
                color: cl(cl-primary-dark);
            }
        }
    }
}

.newsList{
    padding: rem(32) 0 rem(88);
    background-color: cl(cl-base-bg);

    h2{
        margin-bottom: rem(16);
    }

    ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: rem(8);
        background-color: cl(cl-base);
        border-radius: 5px;
        padding: 1rem;
        max-height: 250px;
        overflow-y: auto;


        li{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid cl(cl-gray-border);
            padding-bottom: rem(8);

            p{
                font-size: rem(14);
            }

            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: rem(8);

                .date{
                    time{
                        color: cl(cl-gray-text);
                    }
                }

                .category{
                    width: 60px;
                    p{
                        color: cl(cl-base);
                        border-radius: 5px;
                        font-size: 12px;
                        text-align: center;
                    }

                    .portfolio{
                        background-color: cl(cl-brand-portfolio);
                    }

                    .blog{
                        background-color: cl(cl-primary-dark);
                    }

                    .storybook{
                        background-color: cl(cl-brand-sb);
                    }
                }

            }
        }
    }

}