---
import { BASE_URL } from '../scripts/modules/baseURL.js';
import '../styles/global/footer.scss';
---


<footer>
    <div class="scrollTop">
        <button transition:persist>ページTOPへ</button>
    </div>
    <div class="wrapper">
        <div class="blogContents">
            <div class="inner">
                <div class="title">
                    <p>Blog Contents</p>
                </div>
                <div class="link">
                    <ul>
                        <li>
                            <a href=`${BASE_URL}/`>トップ</a>
                        </li>
                        <li>
                            <a href=`${BASE_URL}/article/list/page=1`>全ての記事</a>
                        </li>
                        <li>
                            <a href=`${BASE_URL}/profile`>プロフィール</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="myContents">
            <div class="inner">
                <div class="title">
                    <p>zatty's Contents</p>
                </div>
                <div class="link">
                    <ul>
                        <li>
                            <a href="https://zatty-5118.github.io/portfolio/" target="_blank">ポートフォリオ</a>
                        </li>
                        <li>
                            <a href="https://zatty-5118.github.io/blog/" target="_blank">ブログ</a>
                        </li>
                    </ul>
                </div>    
            </div>
        </div>
        <div class="copyRight">
            <div class="inner">
                <p>&copy;2024 zatty's Blog</p>
            </div>
        </div>
    </div>
</footer>

<script is:inline>
    document.querySelector('footer .scrollTop button').addEventListener('click',function () {
        window.scroll({
            top: 0,
            behavior: "smooth",
        });
    })
</script>